/*CSSreset*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: Microsoft YaHei;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #f5f5f5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{	
	text-decoration: none;
}

/*通用*/
.clearfix:before,
.clearfix:after,
.n-top:before,
.n-top:after,
.n-main:before,
.n-main:after,
.n-sub:before,
.n-sub:after,
.c-main:before,
.c-main:after,
.w-contain:before,
.w-contain:after,
.w-contain-s:before,
.w-contain-s:after{
  display: table;
  content: " ";
}
.clearfix:after,
.n-top:after,
.n-main:after,
.n-sub:after,
.c-main:after,
.w-contain:after,
.w-contain-s:after{
	clear: both;
}
li{
	list-style-type: none;
	float: left;
}
img{
	max-width: 100%;
}
.n-top a,
.n-main a,
.n-sub a{
	display: inline-block;
	margin: 10px;
}
.logo{
	width: 130px;
	height: 50px;
	background-position-y: -829px;
	background-image: url(http://i1.letvimg.com/lc07_img/201703/06/10/26/logo.png);
}

/*n-导航*/
.n-top{
	background: #fefefe;
	box-shadow: 0 1px #ddd;
}
.n-top a{
	font-size: 12px;
	color: #232323;
}
.n-more{
	display: none;
	width: 80px;
	position: absolute;
	right: 0;
	z-index: 105;
	background: #f2f2f2;
}
.n-more li{
}
#more:hover{
	background: #f2f2f2;
}
/* .n-main{
	
} */
.n-search{
	flex:1;
	padding-left: 20px;
}
.n-search-input{
	box-sizing: border-box;
	width: 100%;
	height: 36px;
	border: solid 1px #b22222;  
	font-size: 16px;
	padding: 5px;
}
.n-search-submit{
	background: #b22222;
	margin-right: 20px;
	color: #fff;
	height: 36px;
	line-height: 36px;
	width: 50px;
	text-align: center;
}
.n-cart{
	width: 120px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #f2f2f2;
}
.n-sub{
	position: relative;
}
.n-list{
	margin-top: 1px;
	height: 315px;
	overflow: hidden;
}
.n-list>li{
	float: none;
	background: rgba(180,180,180,.5);
	display: block;
	text-align: left;
	border-bottom: 1px solid rgba(180,180,180,.1);
}

.n-list a{
	box-sizing: border-box;
	width: 100%;
	color: #fff;
	font-size: 14px;
	margin: 0;
	padding: 10px 0 10px 10px;
}
.n-list a:hover{
	border-left: 3px solid #b22222;
}
.n-listhead{
	display: block;
	text-align: center;
	/*margin-bottom: 2px;*/
	padding-bottom: 2px; 
	background: rgba(120,120,120,1);
}
.n-listhead a{
	color: #fff;
	font-size: 14px;
}
.n-cat{
	display: none;
	position: relative;
	/* background: rgba(255,255,255,1); */
	margin-top: 1px;
	padding: 10px;
	height: 315px;
	overflow: hidden;
	/* z-index: 110; */
}
#cat-1,
#cat-2,
#cat-3,
#cat-4,
#cat-5,
#cat-6,
#cat-7,
#cat-8,
#cat-9{
	/* position: absolute; */
	display: none;
}
.n-list-logo{
	margin: 5px;
}
.n-list-logo li{
	margin: 5px;
}
.n-list-logo a{
	margin:0;
}
.n-list-logo img{
	width: 80px;
	height: 80px;
}

/*c-内容*/
.c-main{
	margin-bottom: 10px;
}
.c-section{
	border-top: 2px solid #f22222;		
}
.c-section li{
	width: 16.66666667%;
}
.c-section>div{
	box-sizing: border-box;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	
}
.c-detail h3,.c-detail p{
	line-height: 200%;
}
.c-title{
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}
.c-main{
	font-size: 12px;
}
.c-detail{
	padding: 10px;
}
.c-detail h3,.c-detail p{
	font-size: 12px;
	line-height: 200%;
}
.c-detail h3{
	font-weight: bold;
}
.f-main{
	font-size: 10px;
	text-align: center;
	margin: 20px auto;
	color: rgba(120,120,120,1);
}

/*m-模块*/
.m-slider {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.m-sliderbg{
	background: #000;
}
.m-slider ul{
	/*width: 400%;*/
}
.m-slider li{
	/*width: 25%;*/
}
.m-slider li img{
	height: 315px;
}
.m-slider-prev, .m-slider-next{
	width: 40px;
	height: 40px;
	background: url(../img/cbtn.png);
	opacity: .5;
}
.m-slider-prev:hover, .m-slider-next:hover{
	/*cursor: pointer;*/
	opacity: .9;
	cursor: pointer;
}

.m-slider-prev{
	background-position: 0 0;
}
.m-slider-next{
	background-position: -40px 0;
}
.m-slider-cbtn{
	position: absolute;
	right: 10px;
	left:110px;
	top:140px;
	z-index: 101;
}
.m-slider-tip{
	position: absolute;
	bottom: 20px;
	left:490px;
}
.m-slider-tip a{
	display: inline-block;
	background: #fff;
	margin: 5px;
	width: 10px;
	height: 10px;
}
.m-slider-tip .w-current{
	background: #f22222;
}
.m-sub-title{
	font-weight: bold;
	font-size: 12px;
	line-height: 200%;
}
.n-list-text{
	margin-right: 10px;
	border-top: 1px dashed #232323;
	font-size: 12px;
	margin-bottom: 10px;
}


/*w-组件*/
.borderfix{
	margin-right: -1px;
	margin-bottom: -1px;
}
.mask{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,.9);
	z-index: 999;
}
#signup,#login{
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 480px;
	height: 300px;
	border: 1px solid #9d9d9d;
	margin-top: -150px;
	margin-left: -240px;
	padding: 20px;
	background:#fff;
}
#login{
	display: none;
}

#signup>input,
#login>input{
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 34px;
	margin-top: 10px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 100%;
	border: 1px solid #00bfff;
	border-radius: 4px;
}
.input-err{
	display: none;
}
input:focus{
	/*box-shadow: none;*/
	outline: none;
}
.submit{
	background: #00bfff;
	color: #fff;
	font-weight: bold;
}
.submit:hover{
	background: #009acd;
}
.mask span{
	float: right;
	cursor: pointer;
}
.w-left{
	display: block;
	float: left;
}
.w-right{
	display: block;
	float: right;
}
w-right>li{
	position: relative;
}
.w-contain {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	/*width: 980px;*/
	width: 100%;
}
@media (min-width: 768px) {
	.w-contain {
		max-width:1200px;
}
.w-flex{
	display: flex;
	align-items: center;
}
.w-table{
	display: table;
	text-align: center;
	vertical-align: middle;
}
.w-absolute{
	position: absolute;
	left: 0;
	right: 0;
	z-index: 100;
}
.arr:hover{
	position: absolute;
    right: 14px;
    top: 50%;
    margin-top: -2px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-color: #666 transparent transparent;
    border-style: solid dashed dashed;
    border-width: 4px 4px 0;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    -moz-transition: -moz-transform 0.2s ease-in;
    -ms-transition: -ms-transform 0.2s ease-in;
    -o-transition: -o-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
}

/*布局*/
.layout-1, .layout-2, .layout-3, .layout-4, .layout-5, .layout-6, .layout-7, .layout-8, .layout-9, .layout-10, .layout-11, .layout-12{
	float: left;
	box-sizing: border-box;
	overflow: hidden;
}
.layout-12 {
  width: 100%;
}
.layout-11 {
  width: 91.66666667%;
}
.layout-10 {
  width: 83.33333333%;
}
.layout-9 {
  width: 75%;
}
.layout-8 {
  width: 66.66666667%;
}
.layout-7 {
  width: 58.33333333%;
}
.layout-6 {
  width: 50%;
}
.layout-5 {
  width: 41.66666667%;
}
.layout-4 {
  width: 33.33333333%;
}
.layout-3 {
  width: 25%;
}
.layout-2 {
  width: 16.66666667%;
}
.layout-1 {
  width: 8.33333333%;
}